In [3]:
# read in yelp JSON file, convert to csv
import json
import csv
import pandas as pd

amazon_txt = "datasets/amazon-reviews.txt"
yelp_csv_path = "datasets/amazon-reviews.csv"


df = pd.read_csv(amazon_txt, sep='sdafasdfoaiwf', header=None)
df.head()
# df.to_csv(yelp_csv_path)

/Users/jm/anaconda3/envs/machine_learning/lib/python3.6/site-packages/ipykernel_launcher.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # Remove the CWD from sys.path while we load stuff.

                                                   0
0  __label__2 Stuning even for the non-gamer: Thi...
1  __label__2 The best soundtrack ever to anythin...
2  __label__2 Amazing!: This soundtrack is my fav...
3  __label__2 Excellent Soundtrack: I truly like ...
4  __label__2 Remember, Pull Your Jaw Off The Flo...

In [4]:
df2 = pd.DataFrame()
df2['label'] = df[0].str[:10]

In [5]:
df2.head()

        label
0  __label__2
1  __label__2
2  __label__2
3  __label__2
4  __label__2

In [6]:
df2['text'] = df[0].str[10:]
df2.head()

        label                                               text
0  __label__2   Stuning even for the non-gamer: This sound tr...
1  __label__2   The best soundtrack ever to anything.: I'm re...
2  __label__2   Amazing!: This soundtrack is my favorite musi...
3  __label__2   Excellent Soundtrack: I truly like this sound...
4  __label__2   Remember, Pull Your Jaw Off The Floor After H...

In [7]:
def swap_with_numbers(x):
    if x == "__label__2":
        return 1
    elif x == "__label__1":
        return 0
    else:
        return None
    
df2['label'] = df2['label'].apply(swap_with_numbers)
df2.head()

   label                                               text
0      1   Stuning even for the non-gamer: This sound tr...
1      1   The best soundtrack ever to anything.: I'm re...
2      1   Amazing!: This soundtrack is my favorite musi...
3      1   Excellent Soundtrack: I truly like this sound...
4      1   Remember, Pull Your Jaw Off The Floor After H...

In [8]:
df2.to_csv(yelp_csv_path)